<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Change group name</title>
</head>
<body>
<main>
    <p>Change group name:</p>
    
    <form method="post" action="/change_name">
        <p>New name:</P>
        <input type="text" name="groupName"/>
        <input type="submit" value="Save"/>
    </form>
    <a href="/">Back</a>
</main>
</body>
</html>