<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index page</title>
</head>
<body>
<main>
    <nav>
        <ul style="margin: 0; padding: 0; list-style-type: none">
              <li style="display:inline;"><a style="text-decoration: none; color: black;" onmouseout='this.style.color="black"' onmouseover='this.style.color="red"' href="/change_name">Change name</a></li>
            | <li style="display:inline;"><a style="text-decoration: none; color: black;" onmouseout='this.style.color="black"' onmouseover='this.style.color="red"' href="#">Add student</a></li>
            | <li style="display:inline;"><a style="text-decoration: none; color: black;" onmouseout='this.style.color="black"' onmouseover='this.style.color="red"' href="#">Remove student</a></li>
            | <li style="display:inline;"><a style="text-decoration: none; color: black;" onmouseout='this.style.color="black"' onmouseover='this.style.color="red"' href="#">Find student</a></li>
            | <li style="display:inline;"><a style="text-decoration: none; color: black;" onmouseout='this.style.color="black"' onmouseover='this.style.color="red"' href="#">Conscripts</a></li>
        </ul>
    </nav>
    <p>Group: {group_name}</p>
    <hr>
    <p>Students: </p>
</main>
</body>
</html>